This is where we'll take stats!

<%= @round.name %> for <%= @round.team.name %>

<table>
  <tr>
    <th>Player</th>
    <th>Serves</th>
    <th>&nbsp;</th>
    <th>Pases</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td>
        <%= button_to "Zero", round_hit_path(@round, player, {score: 0}), class: "zero_hit" %>
        <%= button_to "One" %>
        <%= button_to "Two" %>
        <%= button_to "Three" %>
      </td>
      <td>&nbsp;</td>
      <td><%= button_to "Zero" %> <%= button_to "One" %> <%= button_to "Two" %> <%= button_to "Three" %></td>
    </tr>
  <% end %>
</table>
