<div class="header">
  <p class="title">Stats for <%= @round.name %> at <%= @round.team.name %></p>
  <div class="stats">
    <%= link_to "Take Stats", take_stats_path(@round.team, @round) %>
  </div>
</div>

<div class="content stats-view">
  <% @players.each do |player| %>
    <b><%= player.name%></b>
    <br>
    Serves:
    <strong><%= find_average_hits(player, @round.id) %></strong>
    <br>
    Passes:
    <strong><%= find_average_passes(player, @round.id) %></strong>
    <br>
    <br>
  <% end %>
</div>
